
body{
	background: #303030;
	/*font-size:100%;*/
	font-family: 'Dosis', sans-serif;
	color: #CCFFFF ;
	margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 150px;
    margin-left: 50px;
    padding-top: 70px;
}

main .form-group{
	width: 375px;
}

footer{
	float: left;
	/*width: 285px;*/
	padding-top: 40px;
	padding-bottom: 25px;
}